[
  {
    "Subscription": "ipm8s1",
    "Type" : "cloud",
    "Client_ID": "xxxxxxxxxxxxxxxxx",
    "Client_Secret": "xxxxxxxxxxxxxxxxx",
    "Password": "xxxxxxxxxx",
    "Service_Location": "na",
    "User": "xiaojias@cn.ibm.com"
  },
  {
    "Subscription": "ipm8s2",
    "Type" : "cloud",
    "Password": "xxxxxxxxxx",
    "Service_Location": "eu",
    "Subscription_id": "01234567890123456789ab",
    "User": "xiaojias@cn.ibm.com"
  },
  {
    "Subscription": "ipm8p1",
    "Type" : "onprem",
    "Server" : "1.2.3.4",
    "Port" : "8090",
    "Protocol": "http",
    "Password": "xxxxxxxx",
    "User": "apmadmin"
  },
  {
    "Subscription": "ipm8p2",
    "Type" : "onprem",
    "Server" : "1.2.3.4",
    "Port" : "8091",
    "Protocol": "https",
    "Password": "xxxxxxxx",
    "User": "apmadmin"
  }
]
