[
  {
    "Subscription": "sdad",
    "Password": "XXXXXX",
    "Service_Location": "na",
    "Subscription_id": "c523c6a3e95a479da31c1d723c6ed103",
    "User": "yourname@cn.ibm.com"
  },
  {
    "Subscription": "sla",
    "Password": "XXXXXX",
    "Service_Location": "eu",
    "Subscription_id": "918a94fa665161f5382380aa970e2373",
    "User": "yourname@cn.ibm.com"
  },
  {
    "Subscription": "mneaastest",
    "Password": "XXXXXX",
    "Service_Location": "eu",
    "Subscription_id": "a2c15fb5086d9a6e18e6abf4e83257d7",
    "User": "yourname@cn.ibm.com"
  },
  {
    "Subscription": "mneaassmi",
    "Password": "XXXXXX",
    "Service_Location": "eu",
    "Subscription_id": "918a94fa665161f5382380aa970e2373",
    "User": "yourname@cn.ibm.com"
  }
]
